.base-content {
    position: relative;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height: 100%;
}

nav.base-content {
    width: 500px;
}

.form-content {
    margin: auto;
    padding: 50px;
}

.form-input {
    border: none;
    border-bottom: 1px solid gray;

    width:400px;
    margin: 10px;
}