php<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Data Protection Portal{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>

        </header>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

        <footer>

        </footer>
    </body>
</html>
